/* navigation */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 10px;
    font-family: montserrat;
    font-weight: bold;
}
.logo a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 13px;
    
}

nav ul{
    float: right;
    margin-right: 20px;
    height: 65px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 15px;
    text-decoration: none;
    font-family: montserrat;
    text-transform: uppercase;
}
a.active,a:hover{
    background:#1b9bff ;
    transition: .5s
}
.checkbtn{
   font-size: 30px; 
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}
#check{
    display: none;
}
/* End of Navigation */

/* navigation mobile */
 @media (max-width:952px){
    label.logo{
        font-size:25px;
        padding: 0 10px;
    }
    nav ul li a{
        font-size:12px;
    }
} 
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    .menu{
        position: fixed;
        background: #2c3e50;
        width: 100%;
        height: 100vh;
        left: -120%;
        text-align: center;
        transition: all .5s;

    }
    nav ul{
        position: fixed;
    }
    nav ul li{
        display:block;
        margin: 50px 0;
        line-height: 30px;
     
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6
    }
    #check:checked ~ ul{
    left: 0;
    }

    
}
/* End of Navigation Mobile */

section{
    padding-top: 2%;
}
.text{
    border: 1px solid black;
    padding: 2%;
   
}
.textimg{
    border: 1px solid black;
    border-left: none;
    padding: 2% 0;
}
.team{
    height: 200px;
    padding: 3%;
    text-align: center;
}